<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->
            <p>
                Buscar:
                <input ng-model="$ctrl.query">
            </p>

            <p>
                <select
                ng-model="$ctrl.categoryFilter"
                ng-options="category as category.name for category in $ctrl.categories track by category.$id"
                />
            </p>

        </div>
        <div class="col-md-10">
            <!--Body content-->
            <ul class="products">
                <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | filter : {catId:$ctrl.categoryFilter.$id} : true">
                    <span>{{product.name}}</span>
                    <p>{{product.desc}}</p>
                </li>
            </ul>

        </div>
    </div>
</div>
