.bg-1 {
    background-color: #1abc9c;
    color: #ffffff;
}
.bg-2 {
    background-color: #474e5d;
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.bg-4 {
    background-color: #2f2f2f;
    color: #fff;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.auth {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

md-toolbar {
    background-color: #fff;
    padding: 20px 0;
    cursor: pointer;
}

.auth__login-box {
  width: 90%;
  max-width: 400px;
}

.auth__logo {
  width: 150px;
  height: auto!important;
}

.auth__error {
  color: #c0392b;
  font-weight: bold;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #FFF2E0; }



.listdemoBasicUsage md-divider {
    margin-top: 10px;
    margin-bottom: 0; }

