<md-content class="md-padding">

    <div layout="row">
        <md-content class="md-padding" flex="85">
            <md-nav-bar md-selected-nav-item="$ctrl.currentNavItem" nav-bar-aria-label="navigation links">
                <md-nav-item
                        ng-repeat="item in $ctrl.navItems"
                        md-nav-click="goto('{{item.value}}'); $ctrl.updateAddItemLabel(item)"
                        name="{{item.value}}">{{item.label}}</md-nav-item>
            </md-nav-bar>
        </md-content>
        <div flex="15">
            <md-button layout="end" ng-click="$ctrl.newItem()">{{$ctrl.newItemLabel}}</md-button>
        </div>
    </div>


    <!-- Produtos-->
    <div class="ext-content" ng-show="$ctrl.currentNavItem=='products'">
        <md-content>
            <md-list flex>
                <md-list-item ng-click="null" class="md-2-line" ng-repeat="product in $ctrl.products">
                    <div class="md-list-item-text">
                        <h3>{{product.name}}</h3>
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </div>

    <!-- Categorias -->
    <div class="ext-content" ng-show="$ctrl.currentNavItem=='categories'">
        <md-content>
            <md-list flex>
                <md-list-item ng-click="null" class="md-2-line" ng-repeat="category in $ctrl.categories">
                    <div class="md-list-item-text">
                        <h3>{{category.name}}</h3>
                    </div>
                    <!-- <md-button class="md-secondary" ng-click="$ctrl.removeCategory(category)">Excluir</md-button>-->
                </md-list-item>
            </md-list>
        </md-content>
    </div>

</md-content>
