
<div class="container">
    <h3>Painel Administrativo</h3>
    <div class="row">
        <div class="col-md-4">
            <ul class="nav nav-pills nav-stacked">
                <!--
                <li><a href="/admin/featured">Destaque</a></li>
                <li><a href="/admin/promotions">Promoções</a></li>

                <li><a ui-sref="admin.products">Produtos</a></li>
            -->
            <li><a ui-sref="admin.categories">Categorias</a></li>
        </ul>
    </div>
    <div class="col-md-8">
        <ui-view="admin-container"></ui-view>
    </div>
    <div class="clearfix visible-lg"></div>
</div>
</div>
